<div id="noLogged">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="#">Yulok</a>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
                    <li><a ui-sref="login">Log in</a></li> 
                    <li><a ui-sref="signup">Sign up</a></li>
                    <li><a ui-sref="about">About</a></li>
                </ul>
            </div>
        </div>
    </div>  
    <div class="ui-base">
        <div ui-view /> 
    </div>
    <div class="socialContainer">
            
    </div>
    <div class="footerContainer">
        <div class="social" align="right"> 
            <h4>Follow us on social media</h4> 
            <a target=_blank href="https://www.instagram.com/"><span class="fa fa-instagram fa-5x" style="color:white;"></span></a>  
            <a target=_blank href="https://www.facebook.com/"><span class="fa fa-facebook-square fa-5x" style="color:white;"></span></a>
            <a target=_blank href="https://twitter.com/"><span class="fa fa-twitter-square fa-5x" style="color:white;"></span></a>
            <br></br>
                
        </div> 
        <div class="copyright" align="left"> 
            <p>2017 @ Yulok, All rights reserved. Made with ♥ in CRC.</p>
            <br></br>      
        </div>
     </div>
</div>