<div id="about" class="container-fluid">
    <br class="clear" />
    <br><br/>
    <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10" align="center">
            <div flash-message="4000" ></div> 
            <br><br/>
        </div>
        <div class="col-md-1"></div> 
    </div>
    <!--div for about information-->
    <div class="row" style="height:350px;">
        <div class="col-md-1"></div>
        <div class="col-md-10" align="center">
            <h1>Acerca de Yulok</h1>
           
        </div>
        <div class="col-md-1"></div> 
        
    </div>
    
</div> 