<div class="headerContainer">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1  col-md-10 col-md-offset-1" align="center"> 
	    <div class="panel-heading" >
	        <div class="panel-title">
	            <form name="homeForm" novalidate>
	                <div class="input-group">
	                    <input class="form-control" type="text" placeholder="keyword..." required ng-model="vm.mdlTag" ng-keypress="($event.which === 13)?vm.validData(homeForm.$valid, vm.mdlTag):0">    
	                    <div class="input-group-btn">
	                        <button type="button" class="btn btn-primary" ng-click="vm.validData(homeForm.$valid, vm.mdlTag)">
	                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	                        </button>   
	                    </div> 
	                </div>
	            </form>
	        </div> 
	    </div>
    </div>
</div>