<div id="logged">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="#">Yulok</a>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="teamProfile.information">Perfil</a>
                    </li>
                    <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="glyphicon glyphicon-user"></i>{{username}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a ui-sref="configuration.passwordReset"><i class="glyphicon glyphicon-cog"></i>&emsp;Configuración</a>
                    </li>
                    <li>
                        <a ui-sref="login"><i class="glyphicon glyphicon-log-out"></i>&emsp;Salir</a>
                    </li>
                </ul>
            </li>
                </ul>    
            </div>
        </div>
    </div>
    <div class="ui-base">
        <div ui-view /> 
    </div>
    <div class="socialContainer">
            
    </div>
    <div class="footerContainer">
        <div class="social" align="right"> 
            <h4>Follow us on social media</h4> 
            <a target=_blank href="https://www.instagram.com/"><span class="fa fa-instagram fa-5x" style="color:white;"></span></a>  
            <a target=_blank href="https://www.facebook.com/"><span class="fa fa-facebook-square fa-5x" style="color:white;"></span></a>
            <a target=_blank href="https://twitter.com/"><span class="fa fa-twitter-square fa-5x" style="color:white;"></span></a>
            <br></br>
                
        </div> 
        <div class="copyright" align="left"> 
            <p>2017 @ Yulok, All rights reserved. Made with ♥ in CRC.</p>
            <br></br>      
        </div>
     </div>
</div>