 <div class="container-fluid">
    <!--general and contact team information-->
    <div class="row">
        <br><br/>
        <h1 align="center">Please register your profile</h1>
        <br><br/>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3" align="justify"> 
            <form name="signupTeamForm" novalidate>
                <h3 align="center"><i class="glyphicon glyphicon-edit"></i>&emsp;Your team</h3>
                <br><br/>
                <p>What sport are you interested in?</p>
                <select id="opcDeporte" class="form-control" >
                    <option>Soccer</option>
                    <option>Rugby</option>
                    <option>Basketball</option>
                    <option>Athletics</option>
                    <option>Swimming</option>
                </select>
                <br><br/>
                <p>What is the name of the team?</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-users"></span>
                    </span>
                    <input class="form-control" type="text" placeholder="Team name" required ng-model="vm.information.name"></input>
                </div>
                <br><br>
                <p>How do you describe your team?</p>
                <textarea type="text"  align="justify" class="form-control" placeholder="Description" required  ng-model="vm.information.description"></textarea>
                <br><br>
                <p>Which gender do you coach?</p>
                <select id="opcGenero" class="form-control" >
                    <option>Male</option>
                    <option>Female</option>
                    <option>Female and male</option>
                </select>
                <br><br>
                <p>What province are you in?</p>
                <select id="opcProvincia" class="form-control" >
                    <option>San Jose</option>
                    <option>Alajuela</option>
                    <option>Heredia</option>
                    <option>Cartago</option>
                    <option>Limon</option>
                    <option>Guanacaste</option>
                    <option>Puntarenas</option>
                </select>
                <br><br> 
                <p>Where are the trainings performed?</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </span>
                    <input class="form-control" type="text" placeholder="Address" required ng-model="vm.information.direction"></input>
                </div>
                <br><br> 
                <p>What is the training day and time?</p>
                <div class="row">  
                    <ul class="unstyled">
                        <li ng-repeat="dateTimeSelect in vm.information.trainingDays">
                            {{dateTimeSelect}}
                        </li>
                    </ul>
                    <br><br>
                </div> 
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <select id="dayOpc" class="form-control" >
                            <option>Lunes</option>
                            <option>Martes</option>
                            <option>Miercoles</option>
                            <option>Jueves</option>
                            <option>Viernes</option>
                            <option>Sabado</option>
                            <option>Domingo</option>
                        </select>
                        <br><br>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="time" class="form-control input-small" type="text" ng-model="vm.time"required></input>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-time"></i>
                            </span>
                        </div>
                        <br><br>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <button class="btn btn-primary btn-block" type="button"  ng-click="vm.addTrainingDay()">Add</button>
                        <br><br>
                    </div>
                </div> 
                <div class="panel-body">
                    <p>Upload a profile photo</p>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <img height="140" width="200" src="/Servidor/fotos/default_images/default.jpg" alt="">
                        
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                    </div>
                </div>
                <br><br>   
            </form>  
        </div>   
    </div>
     
    <div class="row"> 
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3" align="justify">
            <form name="signupContactForm" novalidate>
                <h3 align="center"><i class="glyphicon glyphicon-pencil"></i>&emsp;Your contact</h3>
                <br><br/>
                <p>Who is in charge of the team?</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input class="form-control" type="text" placeholder="Name" required ng-model="vm.contact.managerName"></input>
                </div> 
                <br><br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input class="form-control" type="text" placeholder="LastName" required ng-model="vm.contact.managerLastName"></input>
                </div> 
                <br><br>
                <p>Where you can send a message?</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input class="form-control" type="text" placeholder="email@example.com" required ng-model="vm.contact.email"></input>
                </div>
                <br><br>
                <p>What number can I call?</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-earphone"></span>
                    </span>
                    <input class="form-control" type="text" placeholder="8888-8888" required ng-model="vm.contact.phone"></input>
                </div>
                <br><br> 
            </form> 
        <div>
    </div>  

     <div class="row" align="center">
        <button class="btn btn-primary" type="button"  ng-click="vm.validData(signupTeamForm.$valid, signupContactForm.$valid)">Save changes</button>
        <br><br>
    </div> 
</div> 


  



                   