 <div>
    <div class="teamHeaderContainer" >     
        <div class="title" >
            <p align="left"><span class="label label-danger">{{vm.team.name}}</span></p>    
        </div>
    </div>
    <div class="aboutTeamContainer" align="right"> 
        <div class="title" >
            <p align="right"><span class="label label-info">Know us</span></p>    
        </div>
            <div class="body" > 
            <h4> Description: {{team.description}}</h4>
            <h4> Gender: {{team.gender}}</h4>
            <h4> Country: {{team.country}}</h4>
            <h4> Address: {{team.direction}}</h4>
            <h4> Sport: {{team.sport}}</h4>
            <h4> Training time Monday to Friday: {{team.horario}}</h4\>
            <h4> Training time Saturdays: {{team.horario}}</h4>
            <br><br>  
            </div>   
    </div>
     <div class="contactContainer" align="left">    
        <div class="title" >
            <p align="left"><span class="label label-primary">Contact</span></p>    
        </div>
        <div class="body" > 
            <h4>If you want to contact us to know more about our team, we invite you to leave your message or call us and we will respond.</h4>
            <br><br>
            <h4><span class="glyphicon glyphicon-earphone"> (506){{contact.phone}}</span></h4>
            <h4><span class="glyphicon glyphicon-envelope"> {{contact.email}}</span></h4>
            <br><br>
        </div> 
    </div> 
    <div class="imagesContainer" align="center">
        <div class="title" >
            <p align="right"><span class="label label-success">Images</span></p>    
        </div>
        <div class="body" > 
            <div class="panel-body">
                <ng-gallery images="vm.images"></ng-gallery>
                <br><br>
            </div>
        </div>
    </div> 
   
    <div class="videosContainer" align="center">
        <div class="title" >
            <p align="left"><span class="label label-warning">Videos</span></p>    
        </div>
        <div class="body" > 
            <div class="panel-body">
                <div ng-repeat="video in vm.teamVideos">
                    <iframe class="videoContainer" class="youtube-player" type="text/html" ng-src="{{vm.trustSrc(video.url)}}" allowfullscreen frameborder="0"></iframe>
                </div>
            </div>
            <br><br>
        </div>
    </div> 
</div> 