<div class="teamInformationContainer" >
    <div class="panel panel-default">
        <div class="panel-body"> 
            <div class="row"> 
                <div class="col-md-3" align="center">  
                </div>
                <div class="col-md-6" align="center">
                    <h3> Conózcanos</h3>
                    <h5> Descripcion: {{team.description}}</h5>
                    <h5> Género: {{team.gender}}</h5>
                    <h5> Provincia: {{team.country}}</h5>
                    <h5> Dirección: {{team.direction}}</h5>
                    <h5> Tipo de deporte: {{team.sport}}</h5>
                    <h5> Horario de entrenamiento Lunes a Viernes: {{team.horario}}</h5>
                    <h5> Horario de entrenamiento Sabados: {{team.horario}}</h5>
                    <br><br/>
                    <h3> Contáctenos</h3>
                    <h5> Si desea ponerse en contacto con nosotros para así conocer más acerca de nuestro equipo, le invitamos a dejarnos su mensaje o llamarnos y le responderemos.</h5>
                    <h5><span class="glyphicon glyphicon-earphone"> (506){{contact.phone}}</span></h5>
                    <h5><span class="glyphicon glyphicon-envelope"> {{contact.email}}</span></h5>
            	</div>
            	<div class="col-md-3" align="center">  
                </div>
            </div> 
            <hr>
            <div class="row"> 
                <div class="col-md-12" align="center">
                    <h3> Ubícanos</h3>
                    <div my-map="" lat={{team.lat}} lon={{team.lon}} title={{team.title}} ></div>
                </div> 
            </div> 
        </div>
    </div>
</div>